@use '../../foundation/variables' as *;
.u-bg-gray-100 { background: $color-gray-100; }
.u-bg-gray-200 { background: $color-gray-200; }
.u-bg-gray-300 { background: $color-gray-300; }
.u-bg-gray-400 { background: $color-gray-400; }
.u-bg-gray-500 { background: $color-gray-500; }
.u-bg-gray-600 { background: $color-gray-600; }
.u-bg-gray-700 { background: $color-gray-700; }
.u-bg-gray-800 { background: $color-gray-800; }
.u-bg-gray-900 { background: $color-gray-900; }

.u-bg-blue-100 { background: $color-blue-100; }
.u-bg-blue-200 { background: $color-blue-200; }
.u-bg-blue-300 { background: $color-blue-300; }
.u-bg-blue-400 { background: $color-blue-400; }
.u-bg-blue-500 { background: $color-blue-500; }
.u-bg-blue-600 { background: $color-blue-600; }
.u-bg-blue-700 { background: $color-blue-700; }
.u-bg-blue-800 { background: $color-blue-800; }
.u-bg-blue-900 { background: $color-blue-900; }

.u-bg-green-100 { background: $color-green-100; }
.u-bg-green-200 { background: $color-green-200; }
.u-bg-green-300 { background: $color-green-300; }
.u-bg-green-400 { background: $color-green-400; }
.u-bg-green-500 { background: $color-green-500; }
.u-bg-green-600 { background: $color-green-600; }
.u-bg-green-700 { background: $color-green-700; }
.u-bg-green-800 { background: $color-green-800; }
.u-bg-green-900 { background: $color-green-900; }

.u-bg-orange-100 { background: $color-orange-100; }
.u-bg-orange-200 { background: $color-orange-200; }
.u-bg-orange-300 { background: $color-orange-300; }
.u-bg-orange-400 { background: $color-orange-400; }
.u-bg-orange-500 { background: $color-orange-500; }
.u-bg-orange-600 { background: $color-orange-600; }
.u-bg-orange-700 { background: $color-orange-700; }
.u-bg-orange-800 { background: $color-orange-800; }
.u-bg-orange-900 { background: $color-orange-900; }

.u-bg-red-100 { background: $color-red-100; }
.u-bg-red-200 { background: $color-red-200; }
.u-bg-red-300 { background: $color-red-300; }
.u-bg-red-400 { background: $color-red-400; }
.u-bg-red-500 { background: $color-red-500; }
.u-bg-red-600 { background: $color-red-600; }
.u-bg-red-700 { background: $color-red-700; }
.u-bg-red-800 { background: $color-red-800; }
.u-bg-red-900 { background: $color-red-900; }
