@use '../../foundation/variables' as *;
.u-color-primary {
  color: $color-primary;
}

.u-color-secondary {
  color: $color-secondary;
}

.u-color-text {
  color: $color-gray-700;
}

.u-color-supplement {
  color: $color-gray-500;
}

.u-color-border {
  color: $color-gray-200;
}

.u-color-info {
  color: $color-blue-700;
}

.u-color-success {
  color: $color-green-700;
}

.u-color-caution {
  color: $color-orange-700;
}

.u-color-error {
  color: $color-red-700;
}

.u-color-gray-100 { color: $color-gray-100; }
.u-color-gray-200 { color: $color-gray-200; }
.u-color-gray-300 { color: $color-gray-300; }
.u-color-gray-400 { color: $color-gray-400; }
.u-color-gray-500 { color: $color-gray-500; }
.u-color-gray-600 { color: $color-gray-600; }
.u-color-gray-700 { color: $color-gray-700; }
.u-color-gray-800 { color: $color-gray-800; }
.u-color-gray-900 { color: $color-gray-900; }

.u-color-blue-100 { color: $color-blue-100; }
.u-color-blue-200 { color: $color-blue-200; }
.u-color-blue-300 { color: $color-blue-300; }
.u-color-blue-400 { color: $color-blue-400; }
.u-color-blue-500 { color: $color-blue-500; }
.u-color-blue-600 { color: $color-blue-600; }
.u-color-blue-700 { color: $color-blue-700; }
.u-color-blue-800 { color: $color-blue-800; }
.u-color-blue-900 { color: $color-blue-900; }

.u-color-green-100 { color: $color-green-100; }
.u-color-green-200 { color: $color-green-200; }
.u-color-green-300 { color: $color-green-300; }
.u-color-green-400 { color: $color-green-400; }
.u-color-green-500 { color: $color-green-500; }
.u-color-green-600 { color: $color-green-600; }
.u-color-green-700 { color: $color-green-700; }
.u-color-green-800 { color: $color-green-800; }
.u-color-green-900 { color: $color-green-900; }

.u-color-orange-100 { color: $color-orange-100; }
.u-color-orange-200 { color: $color-orange-200; }
.u-color-orange-300 { color: $color-orange-300; }
.u-color-orange-400 { color: $color-orange-400; }
.u-color-orange-500 { color: $color-orange-500; }
.u-color-orange-600 { color: $color-orange-600; }
.u-color-orange-700 { color: $color-orange-700; }
.u-color-orange-800 { color: $color-orange-800; }
.u-color-orange-900 { color: $color-orange-900; }

.u-color-red-100 { color: $color-red-100; }
.u-color-red-200 { color: $color-red-200; }
.u-color-red-300 { color: $color-red-300; }
.u-color-red-400 { color: $color-red-400; }
.u-color-red-500 { color: $color-red-500; }
.u-color-red-600 { color: $color-red-600; }
.u-color-red-700 { color: $color-red-700; }
.u-color-red-800 { color: $color-red-800; }
.u-color-red-900 { color: $color-red-900; }
